
@import '../variables.scss';

// Page //

.homePage {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}


// Endorsed Section //

.endorsedSection {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: 100px;

  .endorsedHeading {

    h3 {
      font-size: 18pt;
      font-weight: 600;
      color: #F43737;
      padding-bottom: 30px;
      line-height: 1.125em;
    }
  }

  .endorsedGrid {
    position: relative;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 3em auto;
    // gap: 2.2em;
    // margin-top: 4em;

    &::after {
      position: absolute;
      top: -100px;
      left: -6%;  // TODO: move somewhere (parent?) to attach to edge.
      bottom: -30px;
      content: "";
      width: 7px;
      background: #F43737;
    }
  }
}


// All Candidates Section //

.candidatesSection {
  min-height: 60px;
  background-color: $offWhite;
  padding-bottom: 100px;

  .candidatesGrid {
    display: grid;
  }

  .titleBox {
    padding: 60px 0 40px 0;
    display: flex;

    h3 {
      height: .9em;
      font-size: 14pt;
      font-weight: normal;
      color: $darkGrey;
      flex: 1;
      margin: 0;
    }

    p {
      color: #F43737;
      font-style: italic;
      height: .8em;
      flex: 1;
      text-align: right;
      line-height: 16px;
      margin: 0;

      img {
        height: 18px;
        width: 18px;
        vertical-align: text-top;
      }
    }
  }
}


// ... Tablet .... //

@media screen and (min-width: 768px) {

  .endorsedSection {

    .endorsedHeading {
      display: block;
      // TODO: padding-left: calc()
    }

    .endorsedGrid {
      margin-top: 4em;

      &::after {
        position: absolute;
        top: -160px;
        left: -3.7%;
      }
    }
  }
}

// ... Desktop .... //

@media screen and (min-width: 1280px) {

  .endorsedSection {

    .endorsedGrid {
      margin-top: 4em;

      &::after {
        position: absolute;
        top: -160px;
        left: -3.7%;
      }
    }
  }
}
