
@import '../variables.scss';

// Page //

.homePage {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}


// Endorsed Section //

.endorsedSection {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: 100px;

  .endorsedHeading {

    h3 {
      font-size: 18pt;
      font-weight: 600;
      color: $red;
      padding-bottom: 30px;
      line-height: 1.125em;
    }
  }

  .endorsedGrid {
    position: relative;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 3em auto;
    // gap: 2.2em;
    // margin-top: 4em;

    &::after {
      position: absolute;
      top: -100px;
      left: -6%;  // TODO: move somewhere (parent?) to attach to edge.
      bottom: -30px;
      content: "";
      width: 7px;
      background: $red;
    }
  }
}


// All Candidates Section //

.candidatesSection {
  min-height: 60px;
  background-color: $offWhite;
  padding-bottom: 100px;

  .candidatesGrid {
    display: grid;
  }

  h3 {
    font-size: 14pt;
    font-weight: normal;
    color: $darkGrey;
    padding: 60px 0 40px 0;
  }
}


// ... Tablet .... //

@media screen and (min-width: $breakTablet) {

  .endorsedSection {

    .endorsedHeading {
      display: block;
      // TODO: padding-left: calc()
    }

    .endorsedGrid {
      margin-top: 4em;

      &::after {
        position: absolute;
        top: -160px;
        left: -3.7%;
      }
    }
  }
}

// ... Desktop .... //

@media screen and (min-width: $breakLaptop) {

  .endorsedSection {

    .endorsedGrid {
      margin-top: 4em;

      &::after {
        position: absolute;
        top: -160px;
        left: -3.7%;
      }
    }
  }
}
