
.accordian {

  .accordian-header {

  }

  .accordian-body {
    --line-height: 1.5em;

    display: block;
    display: -webkit-box;
    max-width: 100%;
    //height: calc(var(--line-height) * 2);
    margin: 0 auto;
    font-size: 16px;
    line-height: var(--line-height);
    -webkit-line-clamp: 2; /* replace with a variable? */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.toggle-open {

    .accordian-body {
      height: unset;
      text-overflow: clip;
      -webkit-line-clamp: unset;
    }

  }

}
