
/* .candidate {
  padding-top: 3em;
} */

.candidate {

  h3 {
    font-size: 24pt;
    font-weight: 400;
  }

  p {
    font-weight: 400;
    /* color: #777; */
  }

}


.title {
  font-size: 42pt;
}

.textBlock {
  width: 100%;
}

.inner {

}

.inner p {
  margin-top: 0;
  margin-bottom: 1em;
}
