
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
               Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
  line-height: 1.2;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
               Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* .content {
  max-width: 1600px;
  margin: 0 auto;
}

header, footer, section {
  padding-left: 40px;
  padding-right: 40px;
} */

article {
  padding-top: 20px;
  padding-bottom: 50px;
}

nav {

  a {
    font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
  }
}

figure {
  padding: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 20pt;
  font-weight: 700;
  color: #0C1A3D;
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 1.125em;
}

h3 {
  color: #0C1A3D;
  margin-top: .8em;
  margin-bottom: .1em;
}

p {
  margin-top: .75em;
  margin-bottom: 1em;
}

img {
  width: 100%;
  height: auto;
}

// CHANGE THIS

.body-copy {
  a, li, p, span {
    font-size: 14pt;
    line-height: 1.7em;
  }
}

// Media for Tablet //

@media screen and (min-width: 768px) {

  article {
    padding-top: 90px;
    padding-bottom: 120px;
  }

}



// Media for Desktop //

@media screen and (min-width: 1280px) {

  article {
    padding-top: 90px;
    padding-bottom: 120px;
  }

}


