
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.2;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
               Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .content {
  max-width: 1600px;
  margin: 0 auto;
}

header, footer, section {
  padding-left: 40px;
  padding-right: 40px;
} */

figure {
  padding: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3 {
  color: #0C1A3D;
  margin-top: .8em;
  margin-bottom: .1em;
}

p {
  margin-top: .75em;
  margin-bottom: 1em;
}

img {
  width: 100%;
  height: auto;
}
