
// ... Phone .... //

.header {
  margin-bottom: 40px;

  .logoBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #103389;
    margin-right: 4em;
    z-index: 100;

    .logo {
      // border: 1px solid black;
      width: 220px;
      height: 100px;
    }
  }

  .navContainer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2.8em;
    background-color: #0b1b39;
    z-index: 200;

    .tagline {
      display: none;
    }

    .headerNav {
      padding: 40px;

      a {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16pt;
        color: white;
        padding: 0.25em 0;
      }
    }
  }

  .navControlBg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b1b39;
    width: 20%;
    height: 8em;
  }

  .navControl {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 20%;
    text-align: right;
    padding: 1em;
    z-index: 300;
  }

}


// ... Tablet .... //

@media screen and (min-width: $breakTablet) {

  .header {
    .logoBox {
      height: 190px;
      width: 35%;
      margin-right: 0;
      .logo {
        width: 280px;
        height: 130px;
      }
    }
    .navContainer {
      display: block;
      // position: static;
      // flex-grow: 1;
      margin: 0;
      padding-left: 10%;
      left: 30%;
      height: 230px;
      z-index: 50;

      .tagline {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1em;
        color: white;
      }
      .headerNav {
        padding: 20px;
        a {
          font-size: 12pt;
        }
      }
    }
  }

}

// ... Desktop .... //

@media screen and (min-width: $breakLaptop) {

}
