
.header {
  padding-left: 0;

  nav {
    padding-top: 1.2em;

    a {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 18
      px;
      color: #0C1A3D;
      margin-right: 40px;
    }
  }
}

.logoBox {
  background-color: #103389;
  width: 600px;
  text-align: center;
  padding: 100px 60px 100px 40px;
}

.taglineBox {
  width: 55%;
  background-color: white;
  float: right;
  padding-top: 100px;
}

.tagline {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height:1.1em;
  color: #0C1A3D;
}
