.main {
  padding: 2em;
}

.stripes {
  position: relative;
  /* padding: 74px; */
  background-color: white;
  margin: 1.5em;
  padding: 1.5em;
  margin-bottom: -350px;
  max-width: 1080;
  border-radius: 2px;
}

.stripes::before {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: -1.5em;
  left: -1.5em;
  width: calc(100% + 3em - 4px);
  height: calc(100% + 3em);
  border: 3px solid #F43737;
  border-radius: 2px;
}

.stars {
  position: absolute;
  background-color: #162E74;
  padding: 0 10px 0 10px;
  top: -2.55em;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.year {
  position: absolute;
  background-color: #0C1A3D;
  padding: 0 15px 0 15px;
  bottom: -2.55em;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.year span {
  color: #FFF;
  font-size: 18pt;
}

@media screen and (min-width: 769px) {
  .stripes {
    position: relative;
    /* padding: 74px; */
    background-color: white;
    margin: 5em;
    padding: 3.5em;
    margin-bottom: -350px;
    max-width: 1080;
    border-radius: 2px;
  }

  .stripes::before {
    content: "";
    display: block;
    position: absolute;
    top: -37px;
    left: -37px;
    width: calc(100% + 74px);
    height: calc(100% + 74px);
  }

  .stars {
    padding: 0 10px 0 10px;
    top: -57px;
  }

  .year {
    bottom: -3.55em;
  }
}
