
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.v-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.v-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.open {
  display: block !important;
}

.star-badge {

  span {
    position: relative;

    &::after {
      content: " ";
      background-image: url("/svg/star-badge.svg");
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 3px;
      right: -18px;
      width: 1.1em;
      height: 1.1em;
      z-index: 100;
    }
  }
}
